.main-title-div {
  background-color: rgb(242, 151, 34);
}
body,
h1 {
  padding: auto;
  margin: auto;
}
.main-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 30px;
}
.add-form {
  background-color: rgb(225, 108, 29);
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: space-evenly;
}
.list {
  background-color: rgb(78, 53, 37);
  height: 300px;
  color: white;
}
.list-title {
  padding: 10px;
}
.listitem {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.itemrow {
  display: flex;
  align-items: center;
}
footer {
  background-color: rgb(73, 129, 113);
  padding: 28px;
  text-align: center;
  color: white;
}
.inputform {
  border-radius: 15px;
  background: rgb(254, 231, 171);
}
