.logoImg {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 500px;
}
body {
  background-color: rgb(244, 239, 230);
}
.menu_item {
  border-bottom: 2px solid blACK;
  border-top: 2px SOLID BLACK;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.main-image {
  width: 100%;
  padding: 30px;
}
.main-title {
  margin-bottom: 50px;
}
.menu-title {
  margin-bottom: 20px;
  margin-top: 20px;
}
.main-bodypart {
  display: grid;
  place-items: center;
}
.italic {
  font-style: italic;
}
.fw-bold {
  font-weight: bold;
}
.sold-out {
  opacity: 0.1;
}
.bold {
  font-weight: bolder;
}
