.step {
  width: 50%;
  padding: 20px;
  background-color: rgb(247, 245, 247);
  border-radius: 10px;
  margin: auto;
}
.numbers {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.indivisualnumber {
  background-color: rgb(227, 226, 225);
  border-radius: 50%;
  padding: 15px;
}
.buttonprevious {
  border-radius: 15px;
  position: absolute;
  left: 0;
  bottom: 3px;
}
.merged {
  position: relative;
}
.buttonnext {
  border-radius: 15px;
  position: absolute;
  right: 0;
  bottom: 3px;
}
.active {
  background-color: gray;
}
